html, body{
    height: 100%;
    width: 100%;
}
#header, #footer{
    height:10%;
    background: #1a1b1c;
}
#body{
    height:80%;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
.equation{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
}
/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}